<!DOCTYPE html>
<html lang="en">
  <head>
    
    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>DAHSBOARD</title>
  </head>
  <body>
<div class="wrapper">
  <div class="topnav">
  <a href="hopp/dashboard"> <img src="/images/logo.png" width="60" height="50"></a>
  </a>
  <!-- <span class="navbar-text ml-auto">
   Welcome to  HOP !, < user.name %> 
  </span> -->
  <a id="logout" href="/logout">Log out</a>
</div>
</div>
    <main>
      <div class="wrapper_middle">

      <div id="mySidenav" class="sidenav">
         <ul>
      <li>
            <a href="/hopp/dashboard/">Dashboard</a>
      </li>
      <li>
        <a href="/hopp/destination/"> Destinations </a
        >
      </li>
        <li >
        <a href="/hopp/allmyrides">available rides</a
        >
      </li>
      <li>
       <a href="/hopp/destination">Add a ride</a
        >
      </li>
      <li id="my-profile">
        <a href="/hopp/allmyrides">My Profile</a
        >
      </li>
      </ul>
 </div>
 </div>